body {
    font-family: "Montserrat";
    background-color: #111;
}

#title {
    background-color: #b366ff;
    color: black;
}

h1 {
    font-family: 'Montserrat';
    font-size: 3.5rem;
    line-height: 1.5;
}

h2 {
    font-family: 'Montserrat-bold';
    font-size: 3rem;
    line-height: 1.5;
    color: black;
}

h3 {
    font-family: 'Montserrat-bold';
    color: black;
}

p {
    color: #fff;
}

.container-fluid {
    padding: 2% 7% 7%;
}

/* title image  */

.title-image {
    width: 100%;
    transform: rotate(9deg);
    right: 50%;
}

/* navigation bar  */

.navbar {
    padding: 0 0 4.5rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1rem;
    font-family: 'Montserrat-Light';
}

.navbar-brand {
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}

/* download buttons */

.download-button {
    margin: 5% 3% 5% 0;
}

/* feature images */

.feature-text {
    color: blanchedalmond;
}

#features {
    padding: 5% 10%;
    position: relative;
    /* background-color:#f2f2f2; */
}

.feature-box {
    text-align: center;
    padding: 2%;
}

.feature-box:hover {
    transform: scale(1.2);
}

.glass-skin-img {
    padding-bottom: 1rem;
    width: 100%;
}

.sex-img {
    padding-bottom: 1rem;
    width: 90%;
}

.holistic-img {
    padding-bottom: 1rem;
    width: 95%;
}

/* slideshow */

#feed-slideshow {
    padding: 5% 10%;
    background-color: #b366ff;
    text-align: center;
}

.slideshow-img {
    width: 100%;
}

.carousel-image-container {
    max-height: 400px;
}

.carousel-control-prev {
    margin-left: -100px;
}

.carousel-control-next {
    margin-right: -100px;
}

#living-room-image {
    background-image: url("../Images/Living_room.jpg");
    width: 400px;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#nude-girl-in-bed {
    background-image: url("../Images/nude_girl_in_bed.jpg");
    width: 400px;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#makeup-look {
    background-image: url("../Images/Ryan_Destiny.jpg");
    width: 400px;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#outfit-pic {
    background-image: url("../Images/Outfit_pic.png");
    width: 400px;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#breastfeeding-img {
    background-image: url("../Images/breastfeeding.jpg");
    width: 400px;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#meditating-pic {
    background-image: url("../Images/meditating_pic.jpg");
    width: 400px;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* subcription */

#subscription {
    background-color: #a64dff;
    padding: 20px 30px;
}

.email {
    background: none;
    border: none;
    border-bottom: 1px solid black;
    width: 70%;
    max-width: 500px;
    font-size: 1.5rem;
}

input:focus {
    outline: none;
}

.email::placeholder {
    color: black;
    opacity: 1;
}

.btn-subcription-signup {
    border: none;
    background: none;
    height: 40px;
}

.bikini_pic {
    background-image: url("../Images/bikini_pic.jpg");
    background-position: right;
    background-size: cover;
}

/* pricing */

.card {
    background-color: #191919;
}

#pricing {
    padding: 100px;
    text-align: center;
}

.pricing-column {
    padding: 3% 2%;
}

/* CTA section */

#cta {
    background-color: #a64dff;
    padding: 7% 15%;
}

.cta-heading {
    font-family: "Montserrat-Black";
    font-size: 3.5rem;
}

@media (max-width:1028px) {
    #title {
        text-align: center;
    }
    .title-image {
        position: static;
        transform: rotate(0);
    }
}

@media (max-width:430px) {
    .slideshow-text {
        font-size: 24px;
    }
}